.food img{
    width: 210px;
    height: 250px;
    border-radius: 8px; 
    margin: 8px;
}
.food{
    width: 300px;
    height: 450px;
    border:none;
    border-radius: 8px;
    position: relative;

};